@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  transition: all 0.2s ease;
  scroll-behavior: smooth;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: dark;
  transition: all 0.2s ease;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: theme("fontFamily.heading");
  font-weight: 500;
  letter-spacing: -0.06em;
}

/* Apply body font to all paragraphs, labels, buttons, inputs */
body,
p,
label,
button,
input,
textarea {
  font-family: theme("fontFamily.body");
}

.h1 {
  font-family: theme("fontFamily.heading");
  font-weight: 500;
  letter-spacing: -0.06em;
}

@layer base {
  :root {
    --background: #ffffff;
    --foreground: #030213;
    --surface: #ffffff;
    --muted: #717182;
    --border: rgba(0, 0, 0, 0.1);
  }

  .dark {
    --background: #030213;
    --foreground: #ffffff;
    --surface: #10101a; /* Slightly lighter than background for cards */
    --muted: #a1a1aa;
    --border: rgba(255, 255, 255, 0.1);
  }

  body {
    @apply bg-background text-foreground transition-all duration-300 ease-in-out;
  }
}

.reveal-to-top {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out,
    filter 0.45s ease-out;
  transform: translateY(30px);
  filter: blur(10px);
}
.reveal-to-top-visible {
  opacity: 1;
  transform: translateY(0);
  filter: blur(0px);
}

/* Existing Right to Left (Starts on Right) */
.reveal-to-left {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out,
    filter 0.45s ease-out;
  transform: translateX(100px);
  filter: blur(4px);
}
.reveal-to-left-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}

/* NEW: Left to Right (Starts on Left) */
.reveal-to-right {
  opacity: 0;
  transition: opacity 0.8s ease-out, transform 0.8s ease-out,
    filter 0.45s ease-out;
  transform: translateX(-100px); /* Starts 100px to the left */
  filter: blur(4px);
}
.reveal-to-right-visible {
  opacity: 1;
  transform: translateX(0);
  filter: blur(0px);
}
